body{
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

/* My logo is close to page margins, top and left, therefore add padding */
/* Beautify by color, go to google color picker and get orange */
/* Increase the font size to 50px */
/* Remove text underline */
/* Capitalize texts */
/* Add text shadow just like with the box model - do not put commas */
#page-Logo a{
    padding: 10px;
    font-family: "Oleo Script", sans-serif;
    color: #ffc100;
    font-size: 35px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgb(0,0,0);
}

/* Remove bullets from list items */
/* Remove margin and padding to have control */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Creating NAV using flex */
/* Then use justify content to drag the ul to the right */
/* Align items to center */
/* Create some padding to distance items from page edges */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Again we are going to make ul a flex display */
/* To make sure that only this list is selected use header as parent */
header ul{
    display: flex;
}

/* Remove underline from achor tag in nav */
/* Make the color of the tabs green and size 25px make it bold*/
nav ul a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

/* The list items are touching each other, we can change this by left margin */
/* Create some padding to distance items from page edges */
header li{
    margin-left: 5px;
    padding: 20px;
}

/* Now, I want to bring the image just below the header */
/* I first remove the header out of the document flow */
/* But in the current position the size is shorten, lets take 100% of parent */
/* Make box-sizing border box to avoid overflowing content */
header{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}
