#hero{
    height: 500px;
    background-image: url("/images/hero/hero2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* The width of the element is smaller than the page, so set */
/* add background color close to black with transparency rgba */
/* add box-shadow, left to righ, top to bottom, radius, color */
/* Border radius to have rounded corner of 8px */
/* Text align to center */
/* Padding top and bottom; left and right is not required */
/* Center the block element with margin */

/* Positioning element with position - we have static and relative positions */
/* The use top or right to move hero-content*/
#hero-content{
    width: 600px;
    background-color: rgba(50, 40, 40, 0.8);
    box-shadow: 2px 4px 8px rgb(70, 60, 60);
    border-radius: 8px;
    text-align: center;
    padding: 15px 0;
    margin: 0 auto;
    position: relative;
    top: 170px;
}

/* Now, lets style hero-content */
/* Make the color of h1 white */
/* Increase h1 font size */
/* change h1 font family */
/* Remove default margin */
#hero-content h1{
    color: white;
    font-size: 28px;
    font-family: "Raleway", sans-serif;
    margin: 0;
}

/* Paragraph */
/* Change font color to white */
#hero-content p{
    color: white;
}

/* Make anchor tag a button */
/* Small padding top and bottom, larger padding left and right */
#hero-content a{
    text-decoration: none;
    background-color: #ffc100;
    padding: 6px 12px;
    color: green;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 2px 4px 8px black;
}

/* Add hover effect to our button */
#hero-content a:hover{
    background-color: #ff7400;
}

/* Working on highlight section */
/* Resizing the image with fixed height */
/* Add box shadow to images */
/* Fitting the images without losing image ratio */

.services img{
    height: 200px;
    width: 100%;
    box-shadow: 2px 2px 2px rgb(0, 34, 56);
    border-radius: 4px;
    object-fit: cover;
}


/* I wanna make these servecices to be on the same line */
/* Create with of the container */
/* Centering the block element */
/* Create some space below */
/* Justify content center */
#services{
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    justify-content: center;
}


/* Creating margins around the image */
.services{
    margin: 0 15px;
}

/* Aligning text to the centre */
/* Change text color to gray */
/* Increase font size */
/* Reduce top margin */
.services p{
    text-align: center;
    color: #37363b;
    font-size: 22px;
    margin-top: 2px;
}

/* Styling h2 */
/* Increase font size */
/* Reduce margin */
#highlight h2{
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    margin: 15px;
}

/* Adding background color to the section */
#highlight{
    background: linear-gradient(0deg, rgb(10,136,200), rgb(10,100,100));
}

/* You can see margin collapsing effect bringing an issue */
#highlight{
    padding: 12px;
}

/* From the services a remove text decoration */
#services a{
    text-decoration: none;
}

/* Add hover effect to it */
#services a:hover p{
    color: #e97528;
}