#hero{
    height: 500px;
    background-image: url("/images/hero/hero2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* The width of the element is smaller than the page, so set */
/* add background color close to black with transparency rgba */
/* add box-shadow, left to righ, top to bottom, radius, color */
/* Border radius to have rounded corner of 8px */
/* Text align to center */
/* Padding top and bottom; left and right is not required */
/* Center the block element with margin */

/* Positioning element with position - we have static and relative positions */
/* The use top or right to move hero-content*/
#hero-content{
    width: 600px;
    background-color: rgba(50, 40, 40, 0.8);
    box-shadow: 2px 4px 8px rgb(70, 60, 60);
    border-radius: 8px;
    text-align: center;
    padding: 15px 0;
    margin: 0 auto;
    position: relative;
    top: 130px;
}

/* Now, lets style hero-content */
/* Make the color of h1 white */
/* Increase h1 font size */
/* change h1 font family */
/* Remove default margin */
#hero-content h1{
    color: white;
    font-size: 28px;
    font-family: "Raleway", sans-serif;
    margin: 0;
}

/* Paragraph */
/* Change font color to white */
#hero-content p{
    color: white;
}

/* Make anchor tag a button */
/* Small padding top and bottom, larger padding left and right */
#hero-content a{
    text-decoration: none;
    background-color: #ffc100;
    padding: 6px 12px;
    color: green;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 2px 4px 8px black;
}

/* Add hover effect to our button */
#hero-content a:hover{
    background-color: #ff7400;
}

